.header{
    background-color: black;
    display: flex;
    height: 60px;
    align-items: center;
    padding: 0 1vw;
    justify-content: space-between;
}

.header__img{
    width: 20vw;
    position: relative;
}

.header__search{
    position: absolute;
    left: 28%;
}

.header__input{
    width: 400px;
    height: 40px;
    border:none;
    border-radius: 5px;
    margin-left:3vw;
    font-size: 16px;
    padding: 0 1vw;
}

.links{
    position: relative;
}

.links__list{
    margin:0 5px;
    display: flex;
    align-items: center;
    list-style: none;
}

.header__logout{
    padding: 5px;
    margin: 0 0.5vw;
    cursor: pointer;
    color: white;
    font-size: 16px;
    text-decoration: none;
    background: none;
    border: none;
}

.header__login ,.header__mypage{
    padding: 5px;
    margin:0 0.5vw;
    cursor: pointer;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.header__sell{
    background-color: white;
    color: black;
    border-radius: 5px;
    margin-left: 1vw;
    padding:5px 15px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}