.select__tab {
    border-bottom: solid 1px black;
    padding: 2vw 0vw 1vw 7vw;
    gap: 10px;
}


.items__container {
    gap: 80px;
    padding: 40px 60px;
    display: flex;
    flex-wrap: wrap;
}


.items__name {
    margin: 0px;
}

.item__img--wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
}

.item__img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.item__content {
    text-decoration: none;
    color: black;
}

.sold{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
}

.item__detail {
    display: flex;
    justify-content:space-between;
    border-bottom: #5F5F5F solid 1px;
}

.tab__label {
    margin: 0 2vw;
    font-size: 20px;
    text-decoration: none;
    color: #5F5F5F;
    cursor: pointer;
}
.tab__label.active {
    border-bottom: 3px solid #5F5F5F;
    color: black;
    font-weight: bold;
}