.profile__input {
    display: block;
    margin: 0 auto;
    max-width: 40vw;
}

.profile__title {
    text-align: center;
}

.profile__input input{
    width: 100%;
    height: 30px;
}

.update__button {
    text-align: center;
    width: 100%;
    font-size: 1.17em;
    padding: 10px 0px;
    margin: 20px 0px;
    color: white;
    background-color: #FF5555;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login__link {
    text-align: center;
    margin: 10px auto;
}

a {
    text-decoration: none;
}

.profile__items{
    display: flex;
    margin:20px 0px;
}

.profile__img--wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #999;
}

.profile__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.no-image-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #999;
    font-weight: bold;
    pointer-events: none;
}

.imgedit__button{
    margin: 5% 20%;
    height: 40px;
    color: #FF5555;
    border: 1px solid #FF5555;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}